div#rightcolumn2{margin:15px 10px 10px 0px; padding:0px; width:254px; float:right}

div#leftcolumn h3, #rightcolumn2 h3{background:#fff url(http://3.bp.blogspot.com/-FwzmoqwL8Po/UrIfrgaCjUI/AAAAAAAAAJ8/7u0K0B2pkTQ/s1600/254_1.jpg) top center no-repeat; text-align:center; margin:0px; width:254px; height:30px; line-height:30px; color:#fff; font-size:16px; font-weight:bold}

div#rightcolumn2 p{font-family:"arial",Courier; text-align:justify; margin:15px 10px 15px 10px; line-height:15px; color:#000}

div.module2{background:url(http://2.bp.blogspot.com/-ZS6ohPSDypI/UrLTRk8A_nI/AAAAAAAAAK4/eS-tzSVDc9k/s1600/new_round_2.png) center bottom no-repeat; margin:5px 1px 10px 1px; width:254px; height:340px}
div.module2 a{background:url(http://4.bp.blogspot.com/-plUgpsLMQFY/UrGq1Hrf0_I/AAAAAAAAAIc/aXX0psj8f7M/s1600/menu_arrow.gif) top left no-repeat; padding:0px 10px 5px 15px; text-align:left; text-decoration:none !important}

